In [8]:
import pandas as pd
import numpy as np

In [9]:
import sqlite3

In [38]:
conn = sqlite3.connect('installments.db')

In [39]:
conn

In [40]:
# Crie um cursor para executar consultas SQL
cursor = conn.cursor()

In [42]:
cursor.execute("INSERT INTO installments (date, value, installments_number, rate) VALUES (?, ?, ?, ?)", ('2023-05-08', 1000.00, 12, 0.05)

OperationalError: no such table: installments