In [1]:
import pandas as pd
import numpy as np

In [2]:
import sqlite3

In [3]:
from datetime import datetime, timedelta

In [4]:
conn = sqlite3.connect('installments_db')

In [5]:
print(conn.total_changes)

0

In [6]:
# Crie um cursor para executar consultas SQL
cursor = conn.cursor()

In [7]:
# Execute uma consulta SQL para retornar os nomes de todas as tabelas no banco de dados
cursor.execute("SELECT * FROM installments")
resultado = cursor.fetchall()

# Imprima o resultado na tela
for tabela in resultado:
    print(tabela)

(1, '2023-05-08', 1000.0, 12, 0.05)
(2, '2023-06-08', 800.0, 8, 0.03)
(3, '2023-07-08', 1500.0, 10, 0.08)

In [8]:
datetime(2023,1,1).date() - timedelta(days=10)

datetime.date(2022, 12, 22)

In [9]:
LIST_INSTALLMENTS = np.random.randint(1,25,100)

In [10]:
LIST_VALUES = np.random.randint(1,250,100) * 10

In [11]:
def t():
    return (datetime(2023,1,1) - ((-1)**(np.random.randint(1000)))*timedelta(days=np.random.randint(100)))

In [12]:
LIST_DATES = list()
for i in range(100):
    LIST_DATES.append(t().date())

In [14]:
LIST_RATES = np.random.rand(100) / 10

In [17]:
df = pd.DataFrame({
    'date' : LIST_DATES,
    'value' : LIST_VALUES,
    'installments_number' : LIST_INSTALLMENTS,
    'rate' : LIST_RATES
})

In [18]:
df['installment_value'] = round(df['value'] / df['installments_number'], 2)

In [152]:
df

          date  value  installments_number      rate  installment_value
0   2022-12-07    400                    4  0.020361             100.00
1   2023-03-16    610                   11  0.048174              55.45
2   2023-01-02   1100                    5  0.086600             220.00
3   2023-02-03   2340                    8  0.088436             292.50
4   2023-01-18   1620                   18  0.055490              90.00
..         ...    ...                  ...       ...                ...
95  2023-03-27   2080                   17  0.061474             122.35
96  2022-12-10    220                   10  0.081463              22.00
97  2023-01-08   1270                    7  0.059764             181.43
98  2022-12-13   1680                   12  0.053937             140.00
99  2023-02-13   1210                   20  0.052438              60.50

[100 rows x 5 columns]

In [32]:
x = [1,2,3,4,5]
y = ['a', 'b', 'c', 'd', 'e']

In [35]:
a = pd.DataFrame({'x':x, 'y':y})
b = pd.DataFrame({'w':x, 'y':y})

In [ ]:
pd.concat([a,b], axis=0)

In [43]:
first_date = row['date']
installments_number = row['installments_number']

df_aux = pd.DataFrame()

df_aux['date'] = pd.date_range(first_date, periods=installments_number, freq='MS')
df_aux['month_value'] = row['installment_value']

In [142]:
payment_id

99

In [161]:
df_total = pd.DataFrame()
df_total['date'] = 0

In [162]:
for index, row in df.iterrows():
    first_date = row['date']
    installments_number = row['installments_number']
    payment_id = index
    
    df_aux = pd.DataFrame()
    
    df_aux['date'] = pd.date_range(first_date, periods=installments_number, freq='MS').strftime('%Y-%m-%d')
    df_aux['month_value'] = row['installment_value']
    df_aux['payment_id'] = payment_id
    
    df_aux = df_aux.pivot_table(index=None, columns='date', values='month_value')
    df_aux['payment_id'] = payment_id
    df_aux = df_aux.set_index('payment_id')
    
    df_total = pd.concat([df_total, df_aux], axis=0)

In [163]:
df_total = df_total.drop('date', axis=1).fillna(0)

In [28]:
cursor.execute("""
    INSERT INTO installments (date, value, installments_number, rate)
    VALUES ('2023-05-08', 1000.00, 12, 0.05),
           ('2023-06-08', 800.00, 8, 0.03),
           ('2023-07-08', 1500.00, 10, 0.08);
    """)

OperationalError: no such table: installments